{% extends "base.html" %}

{% block content %}

<style>
    h4 {
        text-align: : center;
        font-family: 'Courier New', Courier, monospace;
        font_size: 100%;
    }
</style>

<h4 style="text-align: center;">This application only support .jpg & .jpeg files </h4>
<br>
<h4 style="text-align:center;">Maximum size autorized: 3MB (or 10000px * 8000px)</h4>
<br>


<script>
    processFile(imageInput) {
        if (imageInput.files[0]) {
            const file: File = imageInput.files[0];
            var pattern = /image-*/;

            if (!file.type.match(pattern)) {
                alter('Invalid format');
                return;
            }
        }
    }

</script>

<script>
    const submitButton = document.getElementById("submit");
    const input = documement.getElementById("input_file");

    input.addEventListener("keyup", (e) => {
        const value = e.currentTarget.value;
        submitButton.disable = false;

        if (value === "") {
            submitButton.disable = true;
        } 
    });


</script>




<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" >

    <span class="btn btn-default btn-file">
        Browse <input #imageInput id="input_file" type="file" name="image" accept="image/*" >
    </span>
    <input disabled id="submit" type="submit" value="Upload image" class="btn btn-primary" >
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}